@media screen and (min-width: 768px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40%;
    height: auto;
    background-color: white;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav ul li {
    margin: 0 8px;
  }
  header nav ul li a {
    color: #9698a6;
    font-size: 16px;
  }
  header nav ul li a:after {
    background-color: #9698a6;
  }
  header .cta {
    display: block;
  }
  header .hamburger {
    display: none;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url(./images/bg-intro-desktop.svg);
    background-position: center right -650px;
    background-size: 70em;
    background-repeat: no-repeat;
    overflow: visible;
    padding: 5%;
    height: 22.8em;
  }
  .main .main-left {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 3em;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .main-left h1 {
    text-align: left;
  }
  .main .main-left p {
    text-align: left;
  }
  .main .main-left a {
    margin: 0;
  }
  .main .main-right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    top: 0;
    width: 80%;
  }
  .main .main-right img {
    position: relative;
  }
  .purpose {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 10%;
  }
  .purpose h1 {
    text-align: left;
    width: 100%;
    margin-top: 0;
  }
  .purpose p {
    text-align: left;
    width: 80%;
  }
  .purpose .purpose-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .purpose .purpose-items .purpose-item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 5px;
  }
  .purpose .purpose-items .purpose-item p {
    width: 100%;
  }
  .article {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 10%;
  }
  .article h1 {
    margin-top: 0;
  }
  .article .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 5%;
  }
  .article .cards .card {
    width: 100%;
    margin-bottom: 0;
  }
  .article .cards .card .card-img img {
    width: 100%;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5%;
  }
  footer .footer-left {
    padding: 0;
    width: 30%;
  }
  footer .footer-left .logo {
    width: 80%;
  }
  footer .footer-left .social-media {
    width: 100%;
  }
  footer nav {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  footer nav a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  footer .footer-right {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  header nav ul li {
    margin: 0 30px;
  }
  .main {
    background-size: 78em;
    height: 30em;
  }
}

@media screen and (min-width: 1440px) {
  header {
    width: 80%;
  }
  header .logo {
    width: 13em;
  }
  header .logo img {
    width: 100%;
  }
  header nav a {
    font-size: 20px;
  }
  header .cta {
    font-size: 22px;
  }
  .main {
    padding: 10%;
    height: 80vh;
    background-size: 87em;
    background-position: center right -380px;
  }
  .main .main-left {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-right: 13em;
  }
  .main .main-left h1 {
    font-size: 55px;
  }
  .main .main-left p {
    font-size: 20px;
  }
  .main .main-left a {
    font-size: 22px;
    padding: 12px 40px;
  }
  .main .main-right {
    position: relative;
    right: -150px;
  }
  .main .main-right img {
    bottom: 130px;
  }
  .article .cards {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  footer {
    height: 20vh;
    padding: 0 10%;
  }
  footer .footer-left {
    width: 20%;
    margin-right: 6em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer nav {
    -webkit-column-gap: 2em;
            column-gap: 2em;
    place-items: flex-start;
  }
  footer .footer-right {
    margin-left: auto;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  min-height: 10vh;
}

header nav {
  position: fixed;
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2d314d;
  z-index: 50;
  top: -100%;
  right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: top 1000ms ease-out;
  transition: top 1000ms ease-out;
}

header nav ul li {
  list-style: none;
  margin: 25px;
  text-align: center;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  position: relative;
  padding-bottom: 5px;
}

header nav ul li a:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

header nav ul li a:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

header .cta {
  display: none;
  text-decoration: none;
  color: white;
  padding: 12px 30px;
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
}

header .hamburger {
  cursor: pointer;
  width: 28px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 100;
}

header .hamburger .line {
  width: 100%;
  height: 3px;
  background-color: black;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  border-radius: 50px;
}

.active .hamburger {
  position: fixed;
  right: 20px;
  top: 25px;
}

.active .hamburger .line {
  background-color: white;
}

.active .hamburger .line-2 {
  opacity: 0;
}

.active .hamburger .line-1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 4px);
          transform: rotate(-45deg) translate(-9px, 4px);
}

.active .hamburger .line-3 {
  -webkit-transform: rotate(45deg) translate(-9px, -4px);
          transform: rotate(45deg) translate(-9px, -4px);
}

.active nav {
  top: 0;
}

.main {
  background: url(./images/bg-intro-mobile.svg);
  background-size: cover;
  background-position: center top -230px;
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #f2f2f2;
}

.main .main-right {
  width: 90%;
  margin: auto;
  position: relative;
  top: -120px;
}

.main .main-right img {
  width: 100%;
}

.main .main-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: -80px;
  width: 90%;
}

.main .main-left h1 {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  color: #2d314d;
}

.main .main-left p {
  text-align: center;
  color: #9698a6;
  margin: 35px 0;
  font-size: 17px;
}

.main .main-left a {
  text-decoration: none;
  color: white;
  padding: 12px 30px;
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  margin-bottom: 40px;
}

.purpose {
  background: #e7eaee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.purpose h1 {
  color: #2d314d;
  font-size: 35px;
  text-align: center;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 40px;
  width: 90%;
}

.purpose p {
  color: #9698a6;
  text-align: center;
  width: 90%;
}

.purpose .purpose-items {
  margin-top: 50px;
  margin-bottom: 50px;
}

.purpose .purpose-items .purpose-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

.purpose .purpose-items .purpose-item h3 {
  color: #2d314d;
  font-weight: 400;
  font-size: 25px;
  margin: 30px 0;
}

.article {
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article h1 {
  color: #2d314d;
  font-weight: 400;
  font-size: 40px;
  margin-top: 80px;
  margin-bottom: 50px;
}

.article .cards .card {
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 10px;
  background: white;
}

.article .cards .card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.article .cards .card .card-content {
  padding: 10%;
}

.article .cards .card .author {
  font-size: 13px;
}

.article .cards .card p {
  color: #9698a6;
}

.article .cards .card h3 {
  color: #2d314d;
  font-weight: 500;
  margin: 15px 0;
}

footer {
  background: #2d314d;
  color: white;
}

footer .footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

footer .footer-left .logo {
  margin: 20px 0;
  width: 50%;
}

footer .footer-left .logo img {
  width: 100%;
}

footer .footer-left .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

footer .footer-left .social-media .social-media-icon {
  width: 35px;
}

footer .footer-left .social-media .social-media-icon img {
  width: 100%;
}

footer nav {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer nav a {
  margin: 10px 0;
  color: white;
  font-size: 19px;
  text-align: center;
  text-decoration: none;
}

footer .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-right .cta {
  text-decoration: none;
  color: white;
  padding: 12px 30px;
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  margin-top: 40px;
  margin-bottom: 20px;
}

footer .footer-right p {
  margin-bottom: 20px;
  color: #9698a6;
  font-size: 15px;
}
/*# sourceMappingURL=style.css.map */