@media screen and (min-width: 768px) {
	header {
		nav {
			display: flex;
			justify-content: space-between;
			width: 43%;
		}
		.cta {
			display: block;
		}
		.hamburger {
			display: none;
		}
	}
	.main {
		display: flex;
		background: url(./images/bg-intro-desktop.svg);
		background-position: center right -650px;
		background-size: 70em;
		background-repeat: no-repeat;
		overflow: visible;
		padding: 5%;
		height: 22.8em;
		.main-left {
			order: 0;
			align-items: flex-start;
			padding-right: 3em;
			margin: 0;
			justify-content: center;
			h1 {
				text-align: left;
			}
			p {
				text-align: left;
			}
			a {
				margin: 0;
			}
		}
		.main-right {
			order: 1;
			top: 0;
			width: 80%;
			img {
				position: relative;
				// bottom: -120px;
			}
		}
	}
	.purpose {
		align-items: flex-start;
		padding: 10%;
		h1 {
			text-align: left;
			width: 100%;
			margin-top: 0;
		}
		p {
			text-align: left;
			width: 80%;
		}
		.purpose-items {
			display: flex;
			.purpose-item {
				align-items: flex-start;
				margin: 0 5px;
				p {
					width: 100%;
				}
			}
		}
	}
	.article {
		align-items: flex-start;
		padding: 10%;
		h1 {
			margin-top: 0;
		}
		.cards {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 5%;
			.card {
				width: 100%;
				margin-bottom: 0;
				.card-img {
					img {
						width: 100%;
					}
				}
			}
		}
	}
	footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5%;
		.footer-left {
			padding: 0;
			width: 30%;
			.logo {
				width: 80%;
			}
			.social-media {
				width: 100%;
			}
		}
		nav {
			grid-template-columns: 1fr 1fr;
			place-items: center;
			a {
				width: fit-content;
			}
		}
		.footer-right {
			align-items: flex-end;
		}
	}
}
