@media screen and (min-width: 768px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 43%;
  }
  header .cta {
    display: block;
  }
  header .hamburger {
    display: none;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: url(./images/bg-intro-desktop.svg);
    background-position: center right -650px;
    background-size: 70em;
    background-repeat: no-repeat;
    overflow: visible;
    padding: 5%;
  }
  .main .main-left {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-top: 0px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 3em;
  }
  .main .main-left h1 {
    text-align: left;
  }
  .main .main-left p {
    text-align: left;
  }
  .main .main-right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    top: 0;
    width: 80%;
  }
  .main .main-right img {
    position: relative;
  }
  .purpose {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 10%;
  }
  .purpose h1 {
    text-align: left;
    width: 100%;
    margin-top: 0;
  }
  .purpose p {
    text-align: left;
    width: 80%;
  }
  .purpose .purpose-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .purpose .purpose-items .purpose-item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 5px;
  }
  .purpose .purpose-items .purpose-item p {
    width: 100%;
  }
  .article {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 10%;
  }
  .article h1 {
    margin-top: 0;
  }
  .article .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 5%;
  }
  .article .cards .card {
    width: 100%;
    margin-bottom: 0;
  }
  .article .cards .card .card-img img {
    width: 100%;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5%;
  }
  footer .footer-left {
    padding: 0;
    width: 30%;
  }
  footer .footer-left .logo {
    width: 80%;
  }
  footer .footer-left .social-media {
    width: 100%;
  }
  footer nav {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  footer nav a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  footer .footer-right {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
/*# sourceMappingURL=tablet.css.map */